{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main class="p-5">
    {{!-- <h5>
        Hello!<i class="bi bi-emoji-smile"></i>
        <i class="fa-solid fa-brain" style="color: #f5c105;"></i>
    </h5>

    <button class="btn btn-dark">
        <i class="bi bi-sd-card-fill"></i>
        <i class="fa-solid fa-brain" style="color: #f5c105;"></i>
    </button>

    <div>
        <i class="fa-solid fa-brain fa-beat" style="color: #d04306;"></i>
    </div>

    <div>
        <img src="/svg/slack.svg">
    </div> --}}

    <h1>Hello world!</h1>

    {{> title data="My title"}}

    <h1 style="color: black; background: yellow">This is text</h1>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}