<div class="card text-bg-success my-5">
    <div class="card-body text-center">

        <h2 class="mb-1">{{title}}</h2>
        <p class="my-3">{{description}}</p>
        {{#each buttons}}
        <a class="btn btn-primary" href="{{link}}">{{text}}</a>
        {{/each}}

    </div>
</div>